/** @format */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-redux-toastr/src/styles/index';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: #1f1d2b;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.redux-toastr {
  .toastr {
    @apply shadow;
    background-color: #272532;
  }

  &.rrt-success {
    background-color: black;
  }

  &.rrt-warning {
    background-color: yellow;
  }

  &.rrt-info {
    background-color: blue;
  }
  &.rrt-error {
    background-color: red;
  }
}
